<h1>UPDATE FOOD </h1>
<body background="https://wallpaperaccess.com/full/271686.jpg">

<form action ='addfood' method="get">
<div class="container">
SELECT FOOD TYPE:
<select class="dropbtn" name="fdtyp">
 <option value="starters">Starters</option>
 <option value="maincourse">Main Course</option>
 <option value="drinks">Drinks</option>
 <option value="desserts">Desserts</option>
</select><br><br>

FOOD NAME:<input type="text" name="fdn"><br><br>
PRICE:<input type="text" name="pr"><br><br>
INGREDIENTS :<input type="text" name="ing"><br><br>

<form action ='updatefood' method="get">
<button onclick="updatefood()">SUBMIT</button></form>

</div>

  <div class="container" style="background-color:#ffe3e3">
    
</form>
</body>
</html>